<!-- <?php 
include '../lib/searchfunction.php';
?> -->

<html>

<head>
<title>Book Shelf</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="../multimedia/logo.png" type="image/icon type">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="../css/sidenav.css">

 

</head>

<body>

    <%- include('../partials/navigation'); -%>

    <%- include('../partials/bookshelfcards'); -%>

    <%- include('../partials/sidenav'); -%>

    <%- include('../partials/pagination'); -%>

    <%- include('../partials/footer'); -%>